<!DOCTYPE html>
<html>

<head>
    <title>Quadlog</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="exercise">
        <!-- 1) Start the Effect with the Button. The Effect should alternate
        the "highlight" or "shrink" class on each new setInterval tick (attach
        respective class to the div with id "effect" below) -->
        <div>
            <button @click="startEffect">Start Effect</button>
            <div id="effect" :class="{ highlight: hasEffect }"></div>
        </div>
        <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
        <div :class="[iveClass, gotClass, classClass]">I've got class! :D</div>
        <!-- 3) Let the user enter a class (create some example classes) and attach it -->
        <div>
            <input type="text" placeholder="chill, epic or down" v-model="userClass" />
            <div :class="userClass" ></div>
        </div>
        <!-- 4) Let the user enter a class and enter true/false for another class
        (create some example classes) and attach the classes -->
        <div>
            <input type="text" placeholder="chill, epic or down" v-model="userClass" />
            <input type="text" placeholder="true or false" v-model="useUserClass" />
            <div :class="[{ dim: useUserClass }, userClass]" ></div>
        </div>
        <!-- 5) Repeat 3) but now with values for styles (instead of class names). 
        Attach the respective styles.  -->
        <div>
            <input type="text" placeholder="enter color of div" v-model="userStyle" />
            <div class="userStyleDiv" :style="{ 'background-color': userStyle }"></div>
        </div>
        <!-- 6) Create a simple progress bar with setInterval and style bindings. 
        Start it by hitting the below button. -->
        <div>
            <button v-on:click="startProgress">Start Progress</button>
            <div id="progressContainer">
                <div id="progressBar" 
                    :class="{ progressComplete: progressWidth === 100 }"
                    :style="{ width: progressWidth + '%' }">
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.3.2"></script>
    <script src="app.js"></script>
</body>