<!DOCTYPE html>
<html>

<head>
    <title>Quadlog</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="exercise">
        <!-- 1) Hook up the button to toggle the display of the two paragraphs.
        Use both v-if and v-show and inspect the elements to see the difference -->
        <div>
            <button @click="show = !show">Toggle</button>
            <p v-if="show">You either see me ...</p>
            <p v-else>...or me</p>
            <p v-show="show">You either see me ...</p>
            <p v-show="!show">...or me</p>
        </div>
        <hr />
        <!-- 2) Output an <ul> of array elements of your choice. Also print 
        the index of each element. -->
        <ul v-for="name in array">
            <li>{{ name }} </li>
        </ul>
        <hr />
        <!-- 3) Print all key-value pairs of the following object: 
        {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. 
        Also print the index of each item. -->
        <ul v-for="(v, k) in myObject">
            <li>
                {{ k }}: {{ v }}
            </li>
        </ul>
        <hr />
        <!-- 4) Print the following object (only the values) and also create a
        nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]}
        (hint: use v-for and v-if to achieve this) -->
        <ul v-for="(v, k) in testData">
            <li>
                {{ v }}
                <ol v-if="k === 'data'">
                    <li v-for="val in v">{{ val }}</li>
                </ol>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@2.3.2"></script>
    <script src="app.js"></script>
</body>