#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.ive {
  font: italic bold 32px "Palatino Linotype";
}

.got {
  background-color: #000;
  padding: 10px;
}

.class {
  color: gold;
  text-align: center;
}

.chill {
  height: 100px;
  width: 400px;
  border: 2px solid blue;
  background-color: lightblue;
}

.epic {
  height: 1000px;
  width: 1000px;
  border: 10px solid red;
  background-color: yellow;
}

.down {
  height: 25px;
  width: 25px;
  background-color: #ccc;
}

.dim {
  opacity: .4;
}

.userStyleDiv {
  height: 100px;
  width: 100px;
}

#progressContainer {
  width: 500px;
  height: 30px;
  border: 1px solid #ccc;
  margin: 20px;
  border-radius: 8px;
}

#progressBar {
  background-color: mediumblue;
  height: 100%;
  border-radius: 8px 0 0 8px;
}

.progressComplete {
  border-radius: 8px !important;
}